extends layout

block content
    .col-12.container.text-center
        h1.fw-bold.mt-3 ¿Cómo funciona sendiit?
        .row.tam_row.mt-4
            .col-5.d-flex.align-items-center.justify-content-center
                img(src="/images/How1.svg")
            .col-7.bg-primary.d-flex.align-items-center.justify-content-center
                p.fw-bold.text-secondary 1. Crea tu envío desde la aplicación.
        .row.tam_row
            .col-7.bg-secondary.d-flex.align-items-center.justify-content-center
                p.fw-bold.text-white 2. Descarga e imprime la guía generada.
            .col-5.d-flex.align-items-center.justify-content-center
                img(src="/images/How2.svg")
        .row.tam_row
            .col-5.d-flex.align-items-center.justify-content-center
                img(src="/images/How3.svg")
            .col-7.bg-primary.d-flex.align-items-center.justify-content-center
                p.fw-bold.text-secondary 3. Empaqueta tu envío y pega la guía.
        .row.tam_row
            .col-7.bg-secondary.d-flex.align-items-center.justify-content-center
                p.fw-bold.text-white 4. Lleva eI envìo al lugar de origen que seleccionaste.
            .col-5.d-flex.align-items-center.justify-content-center
                img(src="/images/How4.svg")
        .row.tam_row
            .col-5.d-flex.align-items-center.justify-content-center
                img(src="/images/How5.svg")
            .col-7.bg-primary.d-flex.align-items-center.justify-content-center
                p.fw-bold.text-secondary 5. Un repartidor se encargará de llevar eI paquete aI lugar de destino seleccionado.
        .row.tam_row.mb-5
            .col-7.bg-secondary.d-flex.align-items-center.justify-content-center
                p.fw-bold.text-white 6. El destinatario podrá recoger eI paquete con eI código QR que será enviado a su correo.
            .col-5.d-flex.align-items-center.justify-content-center
                img(src="/images/How6.svg")