extends layout

block content
    form(action='/panel/repartidor/guia/report' method='POST' novalidate)
        .container.py-5
            .row.d-flex.justify-content-center
                .col-md-9.col-lg-7.col-xl-5
                    .card   
                        .rounded-bottom
                            .card-body
                                h1.container.text-center.fs-4 Reporte de inconvenientes
                                    
                                    input(type="hidden" name="traking" value=traking)
                                    .form-outline.mb-3
                                        label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationName') Número de casillero
                                        input#validationName.form-control(type='numLocker' name='idDoorReport' placeholder='1' required='')
                                        .invalid-feedback
                                            | Es necesario ingresar el numero de casillero
                        
                                    .form-outline.mb-3
                                        label.form-label.mb-1.px-1.mt-3.fw-bold(for='descripcion') Título del reporte
                                        input#validationCVV.form-control(type='text' name='titleReport' placeholder='IngresarTexto' required='')
                                        .invalid-feedback
                                    
                                    .form-outline.mb-3
                                        label.form-label.mb-1.px-1.mt-3.fw-bold(for='descripcion') Descripción
                                        input#validationCVV.form-control(type='text' name='detailsReport' placeholder='IngresarTexto' required='')
                                        .invalid-feedback
                                            | Es necesario ingresar un codigo valido
                                        
                                    .d-grid.gap-4
                                        .row.col-fluid.mt-1.mx-1
                                            button.btn.btn-primary(type='submit' ) Confirmar
block scripts
    script(src='/javascripts/validation.js')