extends layout

block content

    .container
        if typeof(shippingDetails) == 'undefined'
            include /include/not_found

        else
            .row
                .col-9 
                .bg-primary.d-flex.p-2.rounded.justify-content-center.mb-3
                    h2.fw-bold.m-0  Detalles Envío
                p Número De Guía : 
                    strong=traking
                p Altura De Paquete : 
                    strong #{shippingDetails.pr_shpg} cm
                p Ancho Del Paquete : 
                    strong #{shippingDetails.wd_shpg} cm
        
                p Profundidad Del Paquete : 
                    strong #{shippingDetails.deep_shpg} cm
                
                    
                    
                   
                    img.qr-img.qr-imgrounded.mx-auto.d-block( width="350" VSPACE="30" alt="Responsive image" data-text= traking)
                .text-center
                    if shippingDetails.edge_shpgdr == 1
                        a.btn.btn-secondary.btn-lg.active.mb-5(href='/panel/repartidor/guia/shippingCollected' role='button' aria-pressed='true') Recolectar 
                        //shippingDetails.edge_shpgdr == 2
                    else

                        a.btn.btn-primary.btn-lg.active.separar.mb-5(href='/panel/repartidor/guia/shipmentDelivered' role='button' aria-pressed='true') Entrega
                        //shippingDetails.stat_shpg == 3
                .col-4               
            
                .col-6           
                
                .col-8

                    a.btn.btn-danger.mt-5(type='button' href='/panel/repartidor/guia/reportForm') Reportar inconveniente


block scripts
    script(src='/javascripts/qrcode.js')    //- 1er script
    script(src='/javascripts/qr.js')        //- 2do script
                        
                   

