form(action='/crear-envio/remitente' method='POST' novalidate)
    fieldset 
        #contactModal.modal.fade(tabindex='-1' aria-labelledby='contactModal' aria-hidden='true')
                .modal-dialog.modal-dialog-scrollable
                    .modal-content
                        .modal-header
                            h5.container.text-center.fs-4 Agregar Contacto
                        .modal-body
                            .form-outline.mb-3
                                label.form-label.mb-1.px-1.mt-3.fw-bold(for='NombreDestinatario') Nombre del destinatario
                                input#NombreDestinatario.form-control.rounded-4(type='text' placeholder='José Octavio...' name="name")
                                .invalid-feedback
                            .form-outline.mb-3
                                label.form-label.mb-1.px-1.mt-0.fw-bold(for='Correo') Correo
                                input#Correo.form-control.rounded-4(type='email' placeholder='name@example.com...' name="email")
                                .invalid-feedback
                            .form-outline.mb-3
                                label.form-label.mb-1.px-1.mt-0.fw-bold(for='telefono') Telefono
                                input#telefono.form-control.rounded-4(type='tel' placeholder='55...' name="phone")
                                .invalid-feedback
                        .modal-footer
                            button.btn.btn-primary(type='submit') Guardar contacto
