form(action='/registro' method='POST' novalidate)
	fieldset 
		#signupModal.modal.fade(tabindex='-1' aria-hidden='true')
			.modal-dialog.modal-dialog-centered.modal-dialog-scrollable
					.modal-content
						.modal-header
							h1.modal-title.fs-5 Crea una cuenta
							button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
						.modal-body
							.form-floating.mb-3
								input#nmInputSignup.form-control(type='text' name='name')
								label.text_normal(for='nmInputSignup') Nombre
								.invalid-feedback
							.form-floating.mb-3
								input#emInputSignup.form-control(type='email' name='email')
								label.text_normal(for='emInputSignup') Correo electrónico
								.invalid-feedback
							.form-floating.mb-3
								input#telInputSignup.form-control(type='tel' name='tel')
								label.text_normal(for='telInputSignup') Teléfono
								.invalid-feedback
							.form-floating.mb-3
								input#pwdInputSignup.form-control(type='password' name='password')
								label.text_normal(for='pwdInputSignup') Contraseña
								.invalid-feedback
							.form-floating.mb-3
								input#pwdvInputSignup.form-control(type='password' name='passwordConfirm')
								label.text_normal(for='pwdvInputSignup') Confirmar Contraseña
								.invalid-feedback
							.form-check.mb-3
								input#termInputSignup.form-check-input(type='checkbox' name='terms')
								label.text_normal.form-check-label(for='termInputSignup') Acepto los 
									a(href="#") Términos y Condiciones
								.invalid-feedback
							button.btn(type='button' data-bs-target='#signinModal' data-bs-toggle='modal') ¿Ya tienes una cuenta? <b>Inicia sesión<b>
						.modal-footer
							button.btn.btn-danger(type='reset' data-bs-dismiss='modal') Cancelar
							button.btn.btn-primary(type='submit') Crear Cuenta