extends /layout

block content
    .container.py-5
        .row.d-flex.justify-content-center
            .col-md-9.col-lg-7.col-xl-5
                .card
                    .rounded-bottom
                        .card-body
                            h5.container.text-center.fs-4 Agregar Tarjeta
                            form.row.g-3.needs-validation(method='post' action='' novalidate) //cambiar ruta
                                .form-outline.mb-3
                                    label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationNumber') Número de tarjeta
                                    input#validationNumber.form-control(type='text' name='card' placeholder='XXXXXXXXXX123456' required='' maxlength='16')
                                    .invalid-feedback
                                        | Es necesario ingresar un número de trajeta válido
                                .form-outline.mb-3
                                    label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationName') Nombre y Apellido
                                    input#validationName.form-control(type='text' name='name' placeholder='Juan Daniel' required='')
                                    .invalid-feedback
                                        | Es necesario ingresar un nombre válido
                                .row.mb-3
                                    .col-7
                                        .form-outline
                                            label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationDate') Fecha de vencimiento
                                            input#validationDate.form-control(type='text' name='date' placeholder='MM/YYYY' required='' maxlength='7')
                                            .invalid-feedback
                                                | Es necesario ingresar una fecha válida
                                    .col-3
                                        .form-outline
                                            label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationCVV') CVV
                                            input#validationCVV.form-control(type='text' name='cvv' placeholder='CVV' required='' maxlength='3')
                                            .invalid-feedback
                                                | Es necesario ingresar un codigo válido
                                .form-outline.mb-3
                                    label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationName') Alias de la tarjeta
                                    input#validationName.form-control(type='text' name='nick' placeholder='Mauricio Velazquez' required='')
                                    .invalid-feedback
                                        | Es necesario ingresar un alias válido

                                .d-grid.gap-4
                                    .row.col-fluid.mt-1.mx-1
                                        button.btn.btn-primary.btn-lg.rounded-5.mt-3(type='submit' style='background-color: #212E46; color: #FFFFFF')
                                            .fw-bold Continuar

block scripts
    script(src='/javascripts/validation.js')