
block content
    .container.row.col-fluid-12.mt-3.mx-auto.nFound  
        h2.fw-bold Envío no encontrado
        p.font-weight-light Verifique que el número de guía ingresado sea correcto. Si el problema persiste, comunicate con soporte.
        center
            img.mt-5(src="/images/nFound.svg" role='img' aria-label='Bootstrap')