
block content
    .bg-secondary       
        .container            
            h2.fw-bold.m-0.p-2.text-primary Envío no encontrado
    .container.row.col-fluid-12.mt-3.mx-auto.nFound  
        p.font-weight-light.pt-3 Verifique que el número de guía ingresado sea correcto. Si el problema persiste, comunicate con soporte.
        center
            img.mt-5(src="/images/nFound.svg" role='img' aria-label='Bootstrap')